@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.hero .swiper-button-prev,
.hero .swiper-button-next {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(167, 167, 167, 0.473);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.hero .swiper-button-prev:hover,
.hero .swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #1CAC08 !important; 
  width: 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hero .swiper-button-next,
  .hero .swiper-button-prev {
    top: 25% !important;
    height: 35px !important;
    width: 35px !important;
    padding: 10px !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.452) !important;
  }
}

.no-scroller::-webkit-scrollbar{
  display: none;
}